@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

li {
  margin-bottom: 0;
}

#contentDynamic {
  h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 1rem;
    border-bottom: 2px solid #ccc;
    padding-bottom: 0.5rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  img {
    border-radius: 8px;
    margin-bottom: 25px;
    margin-top: 10px;
  }

  hr {
    margin: 2rem 0;
    border: 0;
    border-top: 1px solid #ccc;
  }

  ul {
    list-style-type: disc;
    margin-left: 2rem;
    color: #333;
  }

  li {
    margin-bottom: 0.5rem;
  }

  p {
    margin-bottom: 1rem;
  }
}